<p class="text-center"><img src="/img/3dtouchmap.gif" class="img-responsive"></p>
<p>
  3D Touch is exposed to JavaScript on the iPhone 6s. I thought it would be cool to add to a map to enable easy one-handed zooming.
</p>
<p>
  I put a quick example together that does this. If you have a 6s or 6s Plus, just press hard on the map to zoom in one level.
</p>
<p>
  <a href="http://frankrowe.org/3dtouchtest/">http://frankrowe.org/3dtouchtest/</a>
</p>
<p>
  <a href="https://github.com/frankrowe/3dtouchtest">Code</a>
</p>
<p>Also, this would be really cool if implemented in a vector tiles based map, like MapBox GL. Since there are no fixed "zoom levels" in a GL rendered map, you could tie the touch pressure and zoom more closely together. A light press zooming the map a very small amount, a hard press zooming farther, etc.</p>
