<style>
  .section-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .screenshot {
    border: 1px solid #ccc;
    width: 200px;
  }
  .separator {
    height: 1px;
    width: 100%;
    background: #ccc;
    margin-bottom: 20px;
  }
</style>
<p>An ongoing collection of basemap selector UIs for mobile:</p>
<p><ul>
<li><a href="#apple">Apple Maps (iPhone X)</a></li>
<li><a href="#apple-ipad">Apple Maps (iPad)</a></li>
<li><a href="#google-ios">Google Maps (iPhone X)</a></li>
<li><a href="#google-android">Google Maps (Nexus 7)</a></li>
<li><a href="#google-web">Google Maps (Safari on iPhone X)</a></li>
<li><a href="#esri">Explorer for ArcGIS (iPhone X)</a></li>
<li><a href="#fulcrum">Fulcrum (iPhone X)</a></li>
</ul></p>
<div class="separator"></div>
<p id="apple" style="text-align:center;">
  <img src="/img/apple1.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/IMG_0531.png" class="screenshot">
</p>
<p class="section-title">Apple Maps (iOS 11.2, Jan 2018)</p>
<p>Tap the "i" button in the upper right to bring up a bottom overlay with a segmented control to select basemap. Dimiss by tapping "x" or tapping the map.</p>
<div class="separator"></div>

<p id="apple-ipad" style="text-align:center;">
  <img src="/img/apple_ipad.png" class="screenshot" >
</p>
<p class="section-title">Apple Maps (iPad, Jan 2018)</p>
<p>Tap the "i" button in the upper right to bring up a centered overlay with a segmented control to select basemap. Dimiss by tapping "x".</p>
<div class="separator"></div>

<p id="google-ios" style="text-align:center;">
  <img src="/img/google1.png" class="screenshot" >
</p>
<p class="section-title">Google Maps (iOS 11.2, Jan 2018)</p>
<p>Tap the layers button in the upper right to bring up a bottom overlay. Tap a thumbnail of the map to select it. Currently selected basemap is highlighted with a blue border. Dismiss by tapping "x", tapping the map, or swiping down.</p>
<div class="separator"></div>

<p id="google-android" style="text-align:center;">
  <img src="/img/google_android1.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/google_android2.png" class="screenshot">
</p>
<p class="section-title">Google Maps (Android 6 on Nexus 7, Jan 2018)</p>
<p>Tap the layers button in the upper right to bring up an overlay in the same location. Tap a thumbnail of the map to select it. Currently selected basemap is highlighted with a blue border. Dismiss by tapping "x", or tapping the map.</p>
<div class="separator"></div>

<p id="google-web" style="text-align:center;">
  <img src="/img/google_web1.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/google_web2.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/google_web3.png" class="screenshot">
</p>
<p class="section-title">Google Maps (Safari on iOS, Jan 2018)</p>
<p>Tap the hamburger menu button in the upper left. Tap Satellite to toggle Satellite basemap. When Satellite is selected, it is highlighted in blue. Dismiss by swiping away or tapping on map.</p>
<div class="separator"></div>

<p id="esri" style="text-align:center;">
  <img src="/img/esri1.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/IMG_0534.png" class="screenshot">
</p>
<p class="section-title">Explorer for ArcGIS (iOS 11.2, Jan 2018)</p>
<p>Tap the three dots "more" button in the upper right navigation bar to bring up a bottom overlay. Tap on "Basemap" to open a second bottom overlay that contains a list of basemap thumbnails. The selected basemap is highlighted in green. Dismiss by tapping "x" or swiping down.</p>
<div class="separator"></div>

<p id="fulcrum" style="text-align:center;">
  <img src="/img/fulcrum1.png" class="screenshot" style="margin-right: 20px;">
  <img src="/img/fulcrum2.png" class="screenshot">
</p>
<p class="section-title">Fulcrum (iOS 11.2, Jan 2018)</p>
<p>Tap the layers button in the bottom right to bring up a full screen modal. Currently selected basemap is highlighted with a checkmark. Tap a basemap name to select. Dismissing by tapping "Close".</p>