<p class="text-center"><img src="/img/geodash-hover.png" class="img-responsive"></p>
<p>Hovering points on line charts was becoming harder and harder as data size increased and point radius decreased. Solution? Bigger mouse targets on top of data points. Reduce target opacity to zero and find the matching data point on mouse over, and bam - much better interactivity.</p>
<p>Live demo: <a href="http://frankrowe.github.io/geodash/">http://frankrowe.github.io/geodash/</a></p>