<p class="text-center"><img src="/img/hotplate.png" class="img-responsive"></p>
<p><a href="http://hotplate.io/">HotPlate</a> is a platform to leave messages for license plates.</p>
<p>
  I wanted to make this as simple as possible. No signing up, no private messages, no "claiming plates", no fancy features. Anyone can look up any plate, anyone can leave a message on any plate, it's all in the open, and it doesn't track users.
</p>
<p>
  The tech: A Node app backed by Mongo running on Linode.
</p>
<p><a href="http://hotplate.io/plate/MD/lem022">My plate</a> already has a few interesting comments!</p>
