<p style="text-align: center"><img src="/img/iso1.gif" class="img-responsive"></p>
<p>Open a .geojson file in iso, select the feature you want to edit, and choose Feature > Transformation > Simplify. Input your simplification tolerance, and hit OK. You can then save your layer as a new geojson file.</p>
<p><a href="http://turfjs.org/static/docs/module-turf_simplify.html">Turf's simplify API</a></p>
<p><a href="http://frankrowe.org/iso/">iso</a></p>
