<p><img src="/img/location-bar.png" class="img-responsive"></p>
<p><a href="https://github.com/frankrowe/location-bar">https://github.com/frankrowe/location-bar</a></p>
<p>Discovered <a href="https://getbitbar.com/">BitBar</a> today and thought it would be useful to display GPS coords in the menu bar. I use them a lot when testing lat/long pairs, plus it's neat to see when you're on the road.</p>
<p>You need to download an executable called <a href="https://github.com/robmathers/WhereAmI">whereami</a> to get your location. It's open source and uses the OS X CoreLocation framework.</p>
<p>Once you have that in your home directory, just put <a href="https://github.com/frankrowe/location-bar/blob/master/location-bar.1m.sh">this small script</a> in your BitBar plugin directory, chmod +x it, and you're done.</p>
