<p style="text-align: center"><img src="/img/maryland-geojson.png" class="img-responsive"></p>
<p>Useful political boundaries of Maryland in GeoJSON format.</p>
<p><a href="https://github.com/frankrowe/maryland-geojson">https://github.com/frankrowe/maryland-geojson</a></p>