<style>
  #planet-container > div {
    margin-bottom: 10px;
  }
  output {
    display: inline-block;
  }
  form {
    width: 50%;
  }
  form div {
    font-size: 1rem !important;
  }
  input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  input[type=date] {
    line-height: 16px;
  }
  input[type=range] {
    display: inline-block;
    width: auto;
  }
</style>
<script type="module">
  // Load the Observable runtime and inspector.
  import { Runtime, Inspector } from "https://unpkg.com/@observablehq/notebook-runtime?module";

  // Your notebook, compiled as an ES module.
  import notebook from "https://api.observablehq.com/@frankrowe/planet-api.js";

  // Load the notebook, observing its cells with a default Inspector
  // that simply renders the value of each cell into the provided DOM node.
  //Inspector.into(document.getElementById("planet-observable-container"))
  const render = ['intro', 'viewof item_type', 'viewof start_date', 'viewof end_date', 'viewof cloud_cover', 'summary', 'mapCanvas', 'selected'];
  render.forEach(function (name) {
    let node = document.createElement('div');
    node.setAttribute('id', 'planet-' + name);
    document.getElementById('planet-container').appendChild(node);
  })
  Runtime.load(notebook, (cell) => {
    if (render.indexOf(cell.name) >= 0) {
      return new Inspector(document.getElementById('planet-' + cell.name));
    } else {
      // Force evaluation of all the other cells in the notebook.
      return true;
    }
  });
</script>
<p><a href="https://beta.observablehq.com/@frankrowe/planet-api">Link to Observable notebook</a></p>
<div id="planet-container" class="notebook"></div>