<p class="text-center"><img src="/img/qgis-icons.png" class="img-responsive" height="300" width="200"></p>
<p><a href="http://hotplate.io/">HotPlate</a> is a platform to leave messages for license plates.</p>
