<p class="text-center"><img src="/img/qgis-icons.png" class="img-responsive" height="300" width="300"></p>
<p>I took a shot at redesigning some QGIS icons, which I am using in the web-based map editor, <a href="http://frankrowe.org/iso">iso</a>.</p>
<p>I wanted it to be apparent that these buttons were for layer operations, so I added the recognizable three layer stack. I also brightened colors, removed gradients, and replace plus with an up arrow for importing layers. I felt the create new layer (*) and add new layer (+) were ambiguous in the old icons. An up arrow is more recognizable as upload/import.</p>
