<style>

</style>

<p>I want to find some great pizza near my city of Salisbury, Maryland. I do a search and put in 60 miles as my radius. I get a bunch of results:<img src="/img/isochrone1.png" class="img-responsive" width="400">Salisbury is on a peninsula, separated from western Maryland by the Chespeake Bay, with only one <a href="https://en.wikipedia.org/wiki/Chesapeake_Bay_Bridge">way to cross</a>. Take a look at the pizzas on the left. They are across the Bay, and take hours to drive to.</p>

<p>Instead of a simple buffer, we can create an <a href="https://en.wikipedia.org/wiki/Isochrone_map">isochrone</a>. An isochrone is a polygon of everywhere one can travel to within a certain time. An isochrone of 60 minutes for my city looks like this:<img src="/img/isochrone6.png" class="img-responsive" width="400"></p>

<p>Now, I can do a query to get all the pizza joints that are contained within that isochrone polygon:<img src="/img/isochrone7.png" class="img-responsive" width="400"></p>

<p>Good! These are more meaningful results.</p>

<p>There are multiple ways to generate isochrones. The free and open source way is to use <a href="https://pgrouting.org/">PostGIS with pgrouting</a>. For this example, I used the <a href="https://docs.mapbox.com/api/navigation/#isochrone">Mapbox isochrone API</a> which is fast and easy.</p>

<p>When your product requires these kind of search queries, think about the application before doing a simple buffer.</p>
<p>Often users don't want results that are geographically close, they want results that are chronologically close.</p>
