<div class="post">
<p style="text-align: center"><img src="/img/laptop.png" class="img-responsive"></p>
  <p>I'm Frank Rowe, a web and GIS developer located on the Eastern Shore of Maryland.</p>
  <p>Get in touch through twitter (<a href="https://twitter.com/fsrowe">@fsrowe</a>), or email (<a href="mailto:fsrowe@gmail.com">fsrowe@gmail.com</a>).</p>
  <!-- <p>Things I've built:
    <ul>
      <li><a href="http://www.pipelinesnearby.org/">Pipelines Nearby</a></li>
      <li><a href="http://isepa.pipelineawareness.org/">Identified Site Emergency Planning Application</a></li>
      <li><a href="http://www.dllr.maryland.gov/workforcedashboard/">Maryland Workforce Dashboard</a></li>
      <li><a href="http://business.maryland.gov/about/rankings-and-statistics/data-explorer">Maryland Data Explorer</a></li>
      <li><a href="http://baystat.maryland.gov">Maryland BayStat Dashboards</a></li>
      <li><a href="http://apps.esrgc.org/dashboards/smartenergy">Maryland Smart Energy Dashboard</a></li>
      <li><a href="http://apps.esrgc.org/maps/md-lidar-viewer">Maryland LiDAR Viewer</a></li>
      <li><a href="http://frankrowe.org/iso/">iso</a></li>
      <li><a href="http://neonetwerx.com/">NeoNetWerx</a></li>
      <li><a href="http://hotplate.io/">HotPlate</a></li>
    </ul>
  </p> -->
</div>
