<style>
  .image-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;

  }

  .image-profile img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    z-index: -2;
  }

  .about-text {
    margin-top: 20px;
    text-align: center;
  }
</style>
<div class="post about">
  <div class="image-profile">
    <img src="/img/laptop2.jpg" class="img-responsive">
  </div>
  <div class="about-text">
    <p>I'm Frank Rowe, a web and GIS developer located on the Eastern Shore of Maryland.</p>
    <p>Email: <a href="mailto:fsrowe@gmail.com">fsrowe@gmail.com</a></p>
    <p>Twitter: <a href="https://twitter.com/fsrowe">@fsrowe</a></p>
    <p>GitHub: <a href="https://github.com/frankrowe">@frankrowe</a></p>
  </div>
  <p>Things I've worked on:
    <ul>
      <li><a href="https://smartswm.com">SmartSWM</a></li>
      <li><a href="https://www.farmersedge.ca/farmcommand/">FarmCommand</a></li>
      <li><a href="https://boundlessgeo.com/mobile/">Boundless Anywhere / Boundless Suite (Acquired)</a></li>
      <li><a href="https://pipelinesnearby.org">Pipelines Nearby</a></li>
      <li><a href="http://neonetwerx.com/">NeoNetWerx</a></li>
      <li><a href="http://isepa.pipelineawareness.org/">Identified Site Emergency Planning Application</a></li>
      <li><a href="http://www.dllr.maryland.gov/workforcedashboard/">Maryland Workforce Dashboard</a></li>
      <li><a href="http://business.maryland.gov/about/rankings-and-statistics/data-explorer">Maryland Data Explorer</a></li>
      <li><a href="http://baystat.maryland.gov">Maryland BayStat Dashboards</a></li>
      <li><a href="http://apps.esrgc.org/dashboards/smartenergy">Maryland Smart Energy Dashboard</a></li>
      <li><a href="http://apps.esrgc.org/maps/md-lidar-viewer">Maryland LiDAR Viewer</a></li>
      <li><a href="http://frankrowe.org/iso/">iso</a></li>
    </ul>
  </p>
</div>