<div class="post archive">
  <table class="archive">
    <thead>
      <th>All Posts</th>
      <th style="text-align: right;"></th>
    </thead>
  <tbody>
  {{#each posts}}
    <tr>
    {{#if published}}
    <td><a href="/posts/{{ date }}/{{ file }}.html">{{ title }}</a></td><td class="date">{{ display_date }}</td>
    {{/if}}
    </tr>
  {{/each}}
  </tbody>
  </table>

</div>
