
  </div>
  <div class="row">
    <div class="footer">
      <p><a href="/archive.html">View All Posts</a></p>
      <p>Follow on <a href="https://twitter.com/fsrowe">Twitter</a> or <a href="http://frankrowe.org/rss.xml">RSS</a>
      </p>
      <p>© <script>document.write(new Date().getFullYear())</script> Frank Rowe</p>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>
</body>

</html>