<div class="post">
  <p><img src="/img/about.jpeg"></p>
  <p>Frank Rowe is an independent Web and GIS Developer. He's located on the Eastern Shore of Maryland and also works for <a href="http://www.salisbury.edu/">Salisbury University.</a></p>
  <p>Get in touch through twitter (<a href="https://twitter.com/fsrowe">@fsrowe</a>), or email (<a href="mailto:fsrowe@gmail.com">fsrowe@gmail.com</a>).</p>
</div>