<style>

.media-flex {
    position: relative;
    height: 0px;
    margin-bottom: 40px;
}

.media-flex .gfyitem > div,
.media-flex .gfyitem .gfyPreLoadCanvas,
.media-flex .gfyitem .gfyVid,
.media-flex .gfyitem  .gfyGif {
    position: absolute !important;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100% !important;
    height: 100% !important;
}
</style>
<div class="media-flex" style="padding-bottom: 56.25%;">
    <img class="gfyitem" data-id="MenacingTediousAsianpiedstarling" />
</div>
<p>
  
</p>
<p>
  Drawing a buffer area is always kind of a pain, you have to either selected a radius from some predefined options in a dropdown, or use drawing tools. With 3D Touch you can just press harder on the map to select a larger area.
</p>
<script type="text/javascript">
(function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
      s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>
