<p><img src="/img/denver.jpeg"></p>
<p>Rendering with TileMill and PostGIS on Amazon EC2.</p>
<p>1. Load data into PostGIS.</p>
<p>2. Create shapefile of desired map.</p>
<p>3. Create local TileMill project to generate project.mml file.</p>
<p>4. Create Amazon EC2 server loaded with TileMill. Use Springmeyer's awesome <a href="https://gist.github.com/springmeyer/b0bbcd976378cf3e4e44">guide</a> for this.</p>
<p>5. Upload shapefile to EC2 server.</p>
<p>6. Upload tilemill project to EC2 server.</p>
<p>7. Render map to mbtiles.</p>
<p>8. Download mbtiles to wherever the map will be served.</p>
<p>9. ???</p>
<p>10. Profit.</p>