<p><img src="/img/leaflet-crosshairs.jpeg"></p>
<p>Leaflet.Crosshairs is a leaflet plugin to turn a mouse cursor into a crosshairs on map hover.</p>
<p>This works well for determining lat/long coordinates when combined with map graticules.</p>
<p>Live demo: <a href="http://frankrowe.github.io/Leaflet.Crosshairs/">http://frankrowe.github.io/Leaflet.Crosshairs/</a></p>