<p><img src="/img/graphpaper.png"></p>
<p>Graph paper.</p>
<p>My favorite is the <a href="http://fieldnotesbrand.com/">Field Notes</a> brand, for it's portability and durability.</p>
<p>Graph paper is insanely useful, especially when it's on you at all times. It's much easier for sketching than a touch screen.</p>