<iframe src="http://localityhq.com/sandbox/spdcallsmap/" style="border: none; width: 100%; height: 500px;"></iframe>
<p>The Salisbury Police Department <a href="http://www.salisburypd.com/daily-calls-for-service.aspx">releases</a> daily reports on all calls for service. The report is in PDF form and includes an address. I wrote a program to download and parse these PDF reports automatically. The map has a calendar to select daily calls, and a list of selectable call types to filter the map.</p>
<p>The code for the map and automatic download/parse is open source here: <a href="https://github.com/frankrowe/spdcallsmap">https://github.com/frankrowe/spdcallsmap</a>.</p>
<p>The PDF reports are parsed into raw GeoJSON files, available here: <a href="https://github.com/frankrowe/spdcallsmap/tree/master/data">https://github.com/frankrowe/spdcallsmap/tree/master/data</a>.</p>
<p>Full Screen Map: <a href="http://localityhq.com/sandbox/spdcallsmap/">http://localityhq.com/sandbox/spdcallsmap/</a>.</p>
